.main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
}

.product-list{
    width: 60%;
    height: 100%;
}
.price{
    width: 40%;
    margin: 20px;
    height: 100vh;
    display: flex;
    justify-content: center;
}


